/* Estilos base que aplican a todas las pantallas */
* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #fcfcfc;
    background-image: url("media/gee4.jpeg");
    background-repeat: no-repeat;
    background-size: 60%; 
    background-position: left center; 
    opacity: 0.99;
    margin: 0;
    padding: 0;
    min-width: 100%; 
    min-height: 100vh;
}

article {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 30px;
}

#register {
    margin: 18px auto;
    width: 90%;
    max-width: 600px;
    background-color: rgba(253,253,253,255);
    padding: 5px 5%;
    border-radius: 10px;
}

#div {
    position: absolute; 
    top: 50%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
    width: 90%;
    max-width: 600px;
    background-color: rgba(149, 151, 157, 0.7);
    padding: 20px 5%;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0px 0;
    cursor: pointer;
    width: 50%; /* Redimensiona la imagen al 50% de su tamaño original */
}

input, #boton, button[type="reset"] {
    width: 100%;
    padding: 8px 10px;
    margin: 5px auto;
    color: #666;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: block;
}

#boton {
    background-color: rgb(43, 11, 228);
    padding: 8px 13px;
    margin: 10px auto;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    width: 200px; 
}

button[type="reset"] {
    background-color: #ea9928;
    padding: 8px 13px;
    margin: 10px auto; /* Centra horizontalmente con margen automático */
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    width: 200px; 
}

button[type="reset"]:hover {
    background-color: #FF7514;
}

p {
    text-align: center;
    font-size: 1rem;
    color: rgba(26, 24, 24, 0.692);
}

a {
    color: rgba(7, 7, 248, 0.562);
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}

a:hover {
    color: rgba(11, 11, 190, 0.562);
}

a:focus {
    color: rgba(3, 3, 85, 0.466);
}

/* Media queries para pantallas más pequeñas */
@media only screen and (max-width: 768px) {
    body {
        background-size: 100%;
    }
    
    article, #register, #div {
        width: 95%;
        max-width: 95%;
        padding: 3% 5%;
    }

    img {
        width: 80%;
    }

    #boton, button[type="reset"] {
        width: 100%;
        font-size: 1rem;
    }
}
